@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Bodoni:ital,wght@0,600;1,700&family=Montserrat:wght@500&family=Open+Sans:wght@300;500&family=Oswald:wght@200&family=Poppins:wght@700&family=Roboto&family=Roboto+Slab:wght@300&family=Tiro+Gurmukhi&display=swap');

.firstImprission {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: "#198754"
}
.lvGrat{
  font-family: ui-monospace !important;
  margin-bottom: 0px !important;
  font-size: 20px !important 
}
.imgbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/productHamza/ADShamza/yed2.jpg'); /* Path to your background image */
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity value as needed */
}

:root {
  --brand-color__primary-0: #639187;
  --brand-color__primary-2: #11463d;
  ;
  --font-title-1: normal 20px Segoe UI;
  --font-paragrafo: normal 17px/24px Segoe UI;
  --font-subtitle-1: 600 17px Segoe UI;
  --font-subtitle-2: 200 17px Segoe UI;
  --font-button: 600 17px Segoe UI;
  --font-legend: normal 17px Segoe UI;
  --font-destac: 600 2vw Segoe UI;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.slide img {
  width: 508px;
  height: 508px;
}

/* modal */
.btnOrcamento {
  margin-left: 3vw;
}

.modal fieldset {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin: 12px;
}

/* newsletter */
.input {
  width: 40vw;
  min-width: 200px;
}

/* in progress */
/*banner black friday*/
.bloco-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post1 {
  width: 45%;
}

.post1 img {
  width: 100%;
}

.post2 {
  width: 45%;
  text-align: center;
  font-size: 3vh;
}

@media (max-width: 700px) {

  .bloco-post {
    display: block;
    align-items: center;
  }

  .post1,
  .post2 {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
  }
}

/*destaque produtos*/
.card {
  margin: 10px 10px;
  padding: 0 10px;
  align-items: center;
  background-color: var(--brand-color__primary-0);
  border-radius: 16px;
  box-shadow: 0 1px 1px 1px rgb(64, 64, 64, 0.5);
}

.price h2 {
  color: var(--brand-color__primary-2);
}

.price-p {
  text-decoration: line-through;
}

.legend {
  font: var(--font-legend);
}

@media (max-width: 700px) {



  .card {
    flex-basis: 100%;
  }
}

.bg-secondary1 {
  background-color: rgb(88 107 209) !important;
}


.flex2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ctbox {
  box-sizing: content-box !important;
}